{% extends 'clients/base.html' %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="card-title text-center mb-4">Kirish</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Kirish</button>
                    </div>
                </form>
                <p class="mt-3 text-center">Hisobingiz yo‘qmi? <a href="{% url 'register' %}">Ro‘yxatdan o‘ting</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
